.dashboard{
    width: 100%;
    min-height: 83vh;
    margin-top: 5px;
    background-color: rgb(255,255,255, 0.7);
    border-radius: 8px;

}

.container{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.paginator{
    display: flex;
    gap: 5px
}

.arrow{
    width: 40px;
    margin-top: 5px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 900;
}

.arrow:hover{
    background-color: grey;
}

