.dashboard{
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    width: 75%;
    height: 80%;
    background-color: rgb(255,255,255,0.8);
    display: flex;
    padding: 20px;
    gap: 10px;
}

.photoContainer{
    /* border: 1px black solid; */
    width: 35%;
}

.photo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.infoContainer{
    /* border: 1px black solid; */
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left:20px;
}

.title{
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.description{
    font-size: 20px;
}

.price{
    font-size: 30px;
    font-weight: 900;
}

.id{
    color: grey;
    font-style: italic;
}